<!DOCTYPE html>
<html>
<body>
-------Add User-------
  <form action="http://localhost:5000/add_user" method="post">
      Name -> <input type="text" name="Name">
      UserID -> <input type="text" name="USERID">
      <input type="submit">
  </form>
  <p>{{Name}}  {{Id}}</p>
-------Add Place-------
  <form action="http://localhost:5000/add_place" method="post">
      Name -> <input type="text" name="Name">
      Category -> <input type="text" name="Category">
      <input type="submit">
  </form>
  <p>{{Place}}  {{Category}}</p>
</body>
</html>
